*{
    overflow-x: hidden;

}
.img-search{
    position: fixed;
    margin-left: 1%;
}
.has-search .form-control {
    padding-left: 2.375rem;
 }
 
 .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
 }
.flex-card {
    display: flex;
}

.margin {
    margin-left: 10%;
}
.margin-card {
    margin: 2%;;
}
.show {
    display: block;
}
.hidden {
    display: none;
}
.card-font {
    font-weight: bold;
    font-size: 1rem;
}
.color-drak {
    background-color: #808e95;
}
.color-ligth {
    background-color: #e2f1f8;
}
.color-medium {
    background-color: #b0bec5;
}

.center {
    text-align: center;

}
